{% extends "main/base.html" %}

{% block load_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register-login.css' %}">
{% endblock %}

{% block title %}Zmień hasło konta {{ user.username }}{% endblock %}

{% block content %}
<h1>Zmień swoje hasło</h1>
<form method="post" class="register-login">
	{% csrf_token %}
	<div class="register-div">
		<ul>
		{{ form.as_ul }}
		</ul>
		{% if verify_form %}
		<ul>
			{{ verify_form.as_ul }}
		</ul>
		{% endif %}
		<div style="border-bottom:0; margin-bottom:0; padding-bottom:0;" class="register-button">
			{% if logged_in %}
			<button class="cool-btn" type="submit">Zmień hasło</button>
			{% elif not verify_form and not logged_in %}
			<button class="cool-btn" type="submit">Wyślij kod weryfikacyjny</button>
			{% else %}
			<button class="cool-btn" type="submit">Weryfikuj</button>
			{% endif %}
		</div>
	</div>
</form>
{% endblock %}

{% block load_js %}
{% endblock %}